annotated-types==0.8.0
et_xmlfile==2.0.0
fastapi==0.137.1
Faker==40.38.0
httpx==0.28.1
joblib==1.5.2
mlxtend==0.25.0
numpy==2.5.2
openpyxl==3.1.5
pandas==2.3.3
pydantic==2.12.5
pydantic-settings==2.12.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
scikit-learn==1.9.0
six==1.17.0
snowflake-connector-python==4.7.3
statsmodels==0.15.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
uvicorn==0.38.0
